*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #999;
    color: #fff;
    font-weight: bold;
}
a{
    text-decoration: none;
}
.login{
    position: relative;
    margin: 0 auto;
    width: 300px;
}
.login>img{
    display: block;
    margin: 0 auto;
    margin-top: 280px;
    margin-bottom: 40px;
}
#username{
    background: url(../img/usericon.png) no-repeat 8px 10px;
}
#password{
    background: url(../img/passicon.png) no-repeat 8px 10px;
}
#username,#password{
    display: block;
    margin-top: 20px;
    padding-left:60px;
    border: 0;
    font-size: 18px;
    line-height: 50px;
    width:240px;
    height:50px;
    outline: none;
    color: #fff;
    background-color: #ccc;
}
input::placeholder{
    color: #fff;
    font-weight:bold;
    font-size:15px;
}
input:focus::placeholder{
    color: transparent;
}
#login{
    outline: none;
    cursor: pointer;
    width: 300px;
    height: 50px;
    border: 0;
    background: #25292e;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 9px;
    margin-bottom: 30px;
}
.small{
    margin-top: 20px;
    font-size: 13px;
    font-weight:normal;
}
.forget{
    position: absolute;
    right: 0;
    top:286px;
    font-size:13px;
    font-weight:normal;
}
.forget a{
    color: #fff;
}
.tip{
    height: 16px;
    font-size: 13px;
}
.link{
    float: left;
    overflow: hidden;
}
.link a{
    float: left;
    display: block;
    margin-right:14px;
    width: 24px;
    height: 22px;
}
.qq{
    background: url("../img/qqnormal.png");
}
.qq:hover{
    background: url("../img/qqmouse.png");
}
.weibo{
    background: url("../img/xinlangnormal.png");
}
.weibo:hover{
    background: url("../img/xinlangmouse.png");
}
.douban{
    background: url("../img/doubannormal.png");
}
.douban:hover{
    background: url("../img/doubanmouse.png");
}
.qqweibo{
    background: url("../img/tengxunnormal.png");
}
.qqweibo:hover{
    background: url("../img/tengxunmouse.png");
}
.register{
    text-align: right;
    font-size:13px;
}
.register a{
    text-decoration-line: underline;
    color:#fff;
}